@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2 {
    color: #ef4444;
}

p, span, label {
    color: #020617!important;
}

button {
    color: #ffffff!important;
}

button:hover {
    background-color: #ef4444!important;
    color: #ffffff!important;
}

#qrcode {
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
}

.qrcode > canva {
    height: 150px;
    width: 150px;
    display: flex!important;
    text-align: center;
    justify-content: center;
  }